
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    font-family: "Montserrat", serif;
}

html{
    scroll-behavior: smooth;
}
a{
all: unset;
}
header{
    background-image:        linear-gradient(to bottom, rgba(255, 255, 255, 0) 78%, rgba(255, 255, 255, 1) 100%), 
    url(./img/rafting\ alto\ con\ volcan\ fondo\ 9\ 6.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}
section{
    padding-top: 5px;
}

/*NAVBAR*/

nav{
   color: white;
   position: fixed; /* Fija el navbar en la parte superior */
   top: 0; /* Lo coloca en la parte superior de la página */
   left: 0; /* Alinea el navbar al borde izquierdo */
   width: 100%; /* Asegura que el navbar ocupe todo el ancho */
   z-index: 1000; /* Asegura que el navbar se quede encima de otros elementos */
   background-color: #355570;

    border-bottom: 2px solid white;
}



.logo{
    height: 0px;
    cursor: pointer;
}
.logo img{
    margin-left: 50px;
    width: 100px;
    
}
nav{
    display: block;
    
    font-family: "Montserrat", sans-serif;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    
}

nav ul li{
    display: block;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    margin: 20px;

}

.c1 {
    
    border-bottom: none; /* Sin borde por defecto */
}


.c1:hover{
    cursor: pointer;
   
}


.texto li {
    all: unset;
}

/*HEADER*/

.contenedor-background{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 0px;
    font-family: "Montserrat", serif;
    gap: 120px;
    
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.titulo h1{
    font-size: 64px;
}
.titulo p{
    margin-top: 20px;
    font-size: 32px;
    text-align: center;
    max-width: 800px;
}

.btn{
    all: unset;
    font-family: "Montserrat", serif; 
}

.btn button{
    all: unset;
    color: white;
    background-color:#355570 ;
    padding: 10px;
    width: 200px;
    font-family: "Montserrat", serif;
    text-align: center;
    cursor: pointer;
}

.btn :hover{
    transition: 2s;
    transform: scale(1.1);
    background-color: #4496dd;
}

/*main*/

.contenedor-principal{
    text-align: center;
    font-family: "Montserrat", serif;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 160px;
    color: #355570;
}

.contenedor-principal h1{
    font-size: 48px;
    margin-bottom: 40px;
}

.contenedor-principal p{
    font-size: 18px;
}

.presentacion{
    height: 700px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.cart-img{
    position: relative;
    left: 0%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-img img{
    width: 600px;
    height:600px;
}

.cart-text{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 500px;
    left: -2%;
    gap: 50px;
    z-index: 1;
    
    color: #355570;
    box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-webkit-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-moz-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
}

.cart-text h1{
    margin-top: 80px;
font-size: 36px;
    text-align: center;
}

.cart-text p{
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.titular{
    border-bottom: 1px solid #355570;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
}


.descripcion{
    display: flex;
}

.btn-cart{
    display: flex;
    justify-content: center;
}

.btn-cart button{
    all: unset;
    color: white;
    background-color:#355570 ;
    padding: 10px;
    width: 200px;
    font-family: "Montserrat", serif;
    text-align: center;
    cursor: pointer;
}

.btn-cart:hover{
    transition: 2s;
    transform: scale(1.1);

}

.fotos img{
    width: 400px;
    height: 800px;
    margin: 20px;
}

.fotos{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.fotos img:hover{
    transition: 2s ;
    transform: scale(1.01);
}

.banner img{

    width: 100%;
}

.banner{
    position: relative;
    margin-top: 50px;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    top: 40%;    
    position: absolute;
    left: 10%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 24px;

}

.info img{
    width: 200px;
}

.presentacion-2{
    height: 700px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.cart-text-2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 500px;
    left: 20%;
    top: 25%;
    gap: 50px;
    z-index: 1;
    
    color: #355570;
    box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-webkit-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-moz-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
}

.cart-img-2{
    position: absolute;
    left: 45%;
    top: 18%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-img-2 img{
    width: 600px;
    height:600px;
}


.cart-text-2 h1{
    margin-top: 80px;
font-size: 36px;
    text-align: center;
}

.cart-text-2 p{
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}



/*FOOTER*/






.imagen-container img{
    width: 100%;
    height: auto;
}

.imagen-container{
    position: relative; 
    
}


.banner-footer{
    position: relative;
    display: flex;
    margin: 0 auto;
}








.cart-img-3{
    position: absolute;
    left: 20%;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-img-3 img{
    width: 600px;
    height:600px;
}

.cart-text-3{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 500px;
    top: 25%;
    left: 50%;
    gap: 50px;
    
    color: #355570;
    box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-webkit-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-moz-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
}

.cart-text-3 h1{
    margin-top: 80px;
font-size: 36px;
    text-align: center;
}

.cart-text-3 p{

    max-width: 400px;
}

.contendor-contacto{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    max-width: 250px;
    text-align: center;
    gap: 5px;
    
}

.informacion{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    gap: 15px;
}

.icons i{
    text-align: center;
    font-size: 30px;
    margin: 10px;
    align-items: center; margin: 0px;
}

.icons a{
    font-size: 30px;
}

.icons p{
    display: flex;
    justify-content: start;
    text-align: start;
}
.icon p{
    text-align: start;


}

.text{
    display: flex;
    text-align: start;
    align-items: start;
    justify-content: start;
    gap: 10px;
    
}

@media (max-width: 480px) {
    header{
        background-image:        linear-gradient(to bottom, rgba(255, 255, 255, 0) 78%, rgba(255, 255, 255, 1) 100%), 
        url(./img/rafting\ alto\ con\ volcan\ fondo\ 9\ 6.png) ;
        background-repeat: no-repeat;
        background-position: 53% 30%;
        height: 900px;
    }
    nav{
        color: white;
        position: fixed; /* Fija el navbar en la parte superior */
       
        width: 100%; /* Asegura que el navbar ocupe todo el ancho */
        z-index: 1000; /* Asegura que el navbar se quede encima de otros elementos */
        background-color: #355570;
        
        border-bottom: 2px solid white;
    }
    nav{
       display: block;
       justify-content: center;
       align-items: center;
       margin: 0 ;
       padding: 10px;
       width: 100%;

       font-family: "Montserrat", sans-serif;
    }
     
     
     
     .logo{
        height: 0px;
        cursor: pointer;
    display: none;
    }
.logo img{
    display: none;
        margin-left: 10px;
        width: 80px;

}
     
     nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin-left: 0px;
        margin: 0px;
        width: 100%;
        padding: 0px;
       

     }
     
     nav ul li{
         display: block;
         align-items: center;
         text-decoration: none;
         font-size: 12px;
        
     
     }
     
     .c1 {
         display: flex;
         justify-content: center;
         align-items: center;
        
         border-bottom: none; /* Sin borde por defecto */
     }
     
     
     .c1:hover{
         cursor: pointer;
        
     }
     
     
     .texto li {
         all: unset;
     }
     
     /*HEADER*/
     
     .contenedor-background{
         display: flex;
         flex-direction: column;
         align-items: center;
         color: white;
         margin-top: 0px;
         font-family: "Montserrat", serif;
         gap: 120px;
         
     }
     
     .titulo{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         margin-top: 150px;
     }
     .titulo h1{
        font-size: 30px;
        text-align: center;
     }
     .titulo p{
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
        max-width: 800px;
     }
     
     .btn{
        all: unset;
        font-family: "Montserrat", serif; 
     }
     
     .btn button{
         all: unset;
         color: white;
         background-color:#355570 ;
         padding: 10px;
         width: 200px;
         font-family: "Montserrat", serif;
         text-align: center;
         cursor: pointer;
     }
     
     .btn :hover{
         transition: 2s;
         transform: scale(1.1);
         background-color: #4496dd;
     }
     
     
/*main*/

.contenedor-principal{
    text-align: center;
    font-family: "Montserrat", serif;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 160px;
    color: #355570;
}

.contenedor-principal h1{
    font-size: 36px;
    margin-bottom: 40px;
}

.contenedor-principal p{
    font-size: 14px;
    max-width: 350px;
    margin: 0 auto;
}

.presentacion{
    height: 400px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.cart-img{
    position: relative;
    left: 0%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-img img{
    width: 250px;
    height:250px;
}

.cart-text{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    left: -2%;
    gap: 15px;
    z-index: 1;
    
    color: #355570;
    box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-webkit-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-moz-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
}

.cart-text h1{
    margin-top: 5px;
font-size: 20px;
    text-align: center;
}

.cart-text p{
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    font-size: 12px;
}

.titular{
    border-bottom: 1px solid #355570;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
}


.descripcion{
    display: flex;
}

.btn-cart{
    display: flex;
    justify-content: center;
}

.btn-cart button{
    all: unset;
    color: white;
    background-color:#355570 ;
    padding: 5px;
    width: 100px;
    font-family: "Montserrat", serif;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}

.btn-cart:hover{
    transition: 2s;
    transform: scale(1.1);

}

.fotos img{
    width: 400px;
    height: 250px;
    margin: 10px;
}

.fotos{
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.fotos img:hover{
    transition: 2s ;
    transform: scale(1.01);
}

.banner img{

    width: 100%;
}

.banner{
    position: relative;
    margin-top: 50px;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    top: 20%;    
    position: absolute;
    left: 10%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;

}

.info img{
    width: 50px;
}

.presentacion-2{
    height: 400px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.cart-text-2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    left: 2%;
    top: 25%;
    gap: 15px;
    z-index: 1;
    
    color: #355570;
    box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-webkit-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-moz-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
}

.cart-img-2{
    position: absolute;
    left: 42%;
    top: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-img-2 img{
    width: 250px;
    height:250px;
}


.cart-text-2 h1{
    margin-top: 5px;
font-size: 20px;
    text-align: center;
}

.cart-text-2 p{
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    font-size: 12px;
}



/*FOOTER*/






.imagen-container img{
    width: 100%;
    height: 400px;
}

.imagen-container{
    margin-top: 100px;
    position: relative; 
    
}


.banner-footer{
    position: relative;
    display: flex;
    margin: 0 auto;
}








.cart-img-3{
    position: absolute;
    left: 2%;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-img-3 img{
    width: 250px;
    height:250px;
}

.cart-text-3{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 200px;
    top: 35%;
    left: 53%;
    gap: 10px;
    
    color: #355570;
    box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-webkit-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
-moz-box-shadow: 1px 1px 14px 6px rgba(163,163,163,0.75);
}

.cart-text-3 h1{
    margin-top: 5px;
font-size: 20px;
    text-align: center;
}

.cart-text-3 p{
font-size: 12px;
    max-width: 400px;
}

.contendor-contacto{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    max-width: 250px;
    text-align: center;
    gap: 5px;
    
}

.informacion{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    gap: 10px;
}

.icons i{
    text-align: center;
    font-size: 20px;
    margin: 15px;
    align-items: center; margin: 0px;
}

.icons a{
    font-size: 30px;
}

.icons p{
    display: flex;
    justify-content: start;
    text-align: start;
}
.icon p{
    text-align: start;


}

.text{
    display: flex;
    text-align: start;
    align-items: start;
    justify-content: start;
    gap: 10px;
    
}
   
    }
    